.container{
display:flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
height: 100%;
}
.container img{
    width :80%;
    height :50%;
    border-radius: 50%;    
}

.moreLess{
    color: white;
    margin-left: 4px;
}
.moreLess:hover{
    color:aqua;
}